@model Consultants.Models.UserAccount
@{
    ViewBag.Title = "שכחתי סיסמא";
}

<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css" />
<title></title>

<body>
    <div class="container-login">
        <div id="content-login">
            <h1>שכחתי סיסמא</h1>
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { type = "text", placeholder = "שם משתמש", id = "username", requried = "" } })
                    </div>
                </div>
    
                <div class="row right-buttons-forgetPassword">
                        <input type="submit" value="שחזר" />
                </div>

                <span style="color:red;">@TempData["Message"]</span>
                <p><b><font color="blue">הסיסמא החדשה תשלח למייל איתו נרשמת</font></b></p>
            }
        </div>
    </div>
</body>

