@model Consultants.Models.UserAccount
@using Consultants.Models;

<
<script type="text/javascript">
    $(function(){
        function moveToSmartForm(x)
        {
            alert(x);
        }


    });


    window.onload=function OnCreate()
    {
            var type = @Html.Raw(Json.Encode(ViewBag.type));

            if (type=="user")
            {
                document.getElementById("SmartProfile").style.display="none";
            }
            var cons = @Html.Raw(Json.Encode(ViewBag.my_cons));
            var i=0;
            while(cons[i]!=null)
            {

                $(".mytable").append("  <tr><td class=lalign>"+cons[i].FirstName + "</td><td>"+cons[i].LastName+"</td><td>"+cons[i].Email+"</td><td>"+cons[i].Phone+"</td><td><a class=aref id="+cons[i].UserName+">"+cons[i].UserName+"</a></td></tr>");
                i++;
            }
       }
        </script>     
<script>
    $(document).on('click', '.aref', function () {
        var id = $(this).attr('id');
        alert(id);
        // your function here
    });
    


    $(function () {
       
        $("#search").click(function ()
        {
            
            var x=document.getElementById("consulat").value;

       
            $.ajax({
                type: "post",
                url: "@Url.Action("SearchConsultants", "Account")",
                data: JSON.stringify({
                    _x:x
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                  
                    window.location.href = response.Url;
                },
                error: function (error) 
                {
                    alert(error);
                }
            });
          
        });
    });

</script>
<body>

         <h2 id="smartProfileHeader">Hello @Session["UserName"].ToString()</h2> 
    <div class="center-buttons">


    </div>
        <div class="login-box animated fadeInUp">
            <div class="box-header">
                <h2 id="header">חיפוש יועצים</h2>
            </div>
            <input  id="consulat" type="text"  />
            <label>:שם משפחה</label>
        </div>
    <div class="center-buttons">
        <input class="myButton" type="submit" id="search" value="חפש" />
    </div>
        <div id="wrapper">
            <h1 style="text-align:center">Consulats results query:</h1>

            <table class="mytable" id="keywords" cellspacing="0" cellpadding="0">

                <thead>

                    <tr>
                        <th><span>שם יועץ</span></th>
                        <th><span>תחום</span></th>
                        <th><span>טלפון</span></th>
                        <th><span>אימיל</span></th>
                        <th><span>אתר</span></th>
                    </tr>

                </thead>
                <tbody></tbody>
            </table>
        </div>

</body>


